body {
    font: arial;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #454545;
}

a {
    text-decoration: none; 
    text-transform: none;
    color: inherit; 
}

nav  li {
    /* background-color: #be0000; */
    margin: 10px;
    display: inline;
    padding: 15px 4px 15px 4px;
    font-family: arial;
    margin-top:5px;   
}

nav ul {
    margin: 0;
}

#nav1 {
    /* background-color: rgb(82, 27, 27); */
    margin-top: 0;
    padding-top: 10px ;
    font-family: Livvic;
    position: absolute;
    color: white;
    margin-left: 35px;
}

#nav1 a:hover {
    background-color: #acacac2d;
    color: #ffffff;
    border-radius: 20px;
    padding: 8px 3px 8px 3px ;
}

#nav1 img {
    margin-right: 10px;
    /* background-color: blueviolet; */
}

#navleft {
    background-color: #454545;
}



 /* PAGINA DE USUARIO */

#caixatotal {
    margin: 0 auto;
    margin-top: 10px;
    width: 100% ;
    /* background-color:#dfd519; */
    height: 750px;
    display: flex;
}

/* LADO ESQUERDO MENU LATERIAL  */

#left-barra {
    /* background-color: rgb(93, 93, 148); */
    width: 20%;
    height: 100%;
    margin-right: 35px;
    display: flex;

}

#grade-left{
    background-image: url(/imagens/gradelarger.svg);
    height: 100%;
    width: 20%;
}

#menu-left {
    background-color:rgba(255, 255, 255, 0);
    height: 100%;
    width: 80%;
    padding-left: 2px ;
}


#bloco-tit {
    margin-top: 80px ;
    background-color: #caba7100;
    height: 50px;
}

#bloco-tit  h3 {
    padding: 10px;
    text-align: center;
    color: #AA88FF;
    font-family: arial;
    margin: 0;
}


#bloco-conteudo {
    background-color: #acacac2d;
    height: 20px;
    margin: 10px;
    font-family: arial;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

#bloco-conteudo:hover{
    background-color: #9339F4;
}


/* LADO DIREITO CONTEUDO CRONOGRAMA */

#rigth-red{
    /* background-color: red; */
    height: 90%;
    width: 80%;
}

/* PARTE DE CIMA DO CONTEUDO DE CRONOGRAMAS */


/* BUSCA E NOTIFICAÇÃO DE USUARIO */
#top {
    /* background-color: #000000; */
    display: flex;
    justify-content: space-between;
}

#busca-usuario {
    /* background-color: yellow; */
    width: 50%;
    padding: 7px 0 5px 0px;
    margin-left: 30px;
}

#busca-usuario input {
    height: 30px;
    width: 80%;
    border-radius: 25px;
    border: 0px;
}

#busca-usuario button {
    height: 32px;
    border-radius: 25px;
    border: 0px;
    width: 55px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.247);
    color:white ;
}

#busca-usuario button:hover {
    background-color: #9339F4;
    color: white;
}

#usuario-logado {
    /* background-color: yellowgreen; */
    display: flex;
    padding: 5px;
    margin-right: 10px;
    
}

#nome-usuario {
    /* background-color: aqua; */
    font-family: arial;
    font-size: 12px;
    padding-top: 13px; 
    color: white;
}

/* #nome-usuario p {
  
} */

#foto-usuario {
    background-color: whitesmoke;
    width: 40px;
    border-radius: 25px;
    margin: 0px 10px 0px 5px;
    height: 40px;
}

#foto-usuario img{
    width: 30px;
}

#icone-notificação{
    /* background-image:brown ; */
    width: 35px;   
     padding: 5px;
}

#icone-notificação img{
    width: 30px;

}
 /* FIM PARTE DE CIMA DO CONTEUDO DE CRONOGRAMAS */
 /* FIM BUSCA E NOTIFICAÇÃO DE USUARIO */


 /* INICIO PARTE MINHA SEMANA (APENAS MEIO) */

#meio {
    /* background-color: rgba(207, 38, 38, 0.781); */
    height: 100%;
    margin-right: 20px;
}

#caixa-meio {
    /* background-color:blue ; */
    padding: 5px;
    
}

#tit-meio{
    /* background-color: blueviolet; */
    
}

#tit-meio h3{
    margin: 0 ;
    font-family: Arial;
    color: #AA88FF;
    margin: 30px 0 10px 0px;
    font-size: 16px;
    text-align: center;
}

#cx-cronograma {
    background-image: url(/imagens/gradelarger.svg) ;
    height: 300px;
    display: flex;
    margin: 2px;
}

#cx-dias {
    /* background-color: blue; */
    margin: 0 auto;
    height: 100%;
    width: 97%;
    display: flex;
}

#seg {
    /* background-color:aqua; */
    width: 17%;
    margin: 18px;
    height: auto;
}

#ter {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#qua {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#qui {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#sex {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#sab {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#sex {
    /* background-color:aqua; */
    width: 18%;
    margin: 18px;
}

#cx-dias h4 {
    margin: 2px;
    text-align: center;
    color:#ffffff ;
    font-family: arial;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
}

#cx-conteudo {
    background-color:#e4cbffce;
    width: 100%;
    height: auto;
    border-radius: 8px;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    color: rgb(78, 78, 78);
}

#cx-conteudo:hover {
    background-color:#9234f7;
    color: white;
}


/* PARTE DE BAIXO DO CONTEUDO DO CRONOGRAMA */
/* DASH PROXIMOS E ATRASADOS */


#baixo {
    height: 50%;
    display: flex;  
    margin: -10px 20px 10px 20px;
    /* background-color: yellow; */
}

#dash {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 40%;
    margin: 10px;
    color: rgb(255, 255, 255);
}

#dash h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #AA88FF
}

#cx-dash {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}

#prox {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 30%;
    margin: 10px;  
}

#prox h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #AA88FF
;}

#cx-prox {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}


#atra {
    /* background-color: rgb(67, 93, 116); */
    height: 100%;
    width: 30%;
    margin: 10px;
    color: #9339F4;
}

#atra h3 {
    font-family: arial;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #AA88FF
}

#cx-atra {
    background-color:rgba(255, 255, 255, 0.158) ;
    border-radius: 5px;
    height: 85%;
    width: 95%;
}

